@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.nav{
  margin-left: 220px;
  margin-right: 220px;
  display: flex;
  justify-content: center;
  padding-bottom: : 50px;
  border: 3px;
}

.nav a{
  padding: 15px;
  color: red;
  background-color: #F1DA42;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  border-bottom: 2px;
  border-top: 2px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: blue;
  width: 80px;
}

header{
  padding-bottom: 20px;
}

body{
  background: #D5E6EE;
}

a:hover{
  background: green;
}

.nav .current{
  background: blue;
}

img.header_image{
  width: 40vw;
  border: 4px solid grey;
  border-radius: 3px;

}

img.logo_image{
  width: 25vw;
  display: block;
  margin: 0 auto;
  padding: 25px;
}


div.index-container{
  display: grid;
  grid-template-columns: 280px 535px 280px;
}

div.theme-container{
  display:flex;
  display:-webkit-flex; 
  flex-flow: wrap;
  justify-content: space-between;
  width: 300px;
}

img.character{
  width: 20vw;
  border: 5px solid #ddd;
  border-radius: 4px;
}

img.button{
  width: 20vw;
}

a.skip{
  position: relative;
  left: -200px;
}

a.skip:focus{
	left: 10px;
	border: 2px solid black;
}

h1{
  font-family: 'Fira Sans', sans-serif;
  font-size: 32px;
}

footer{
  font-family: 'Libre Franklin', sans-serif;
  margin-left: 230px;
}

div.character_container{
  display: grid;
  grid-template-columns: 315px 800px;
  margin: 5px;
}

p{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 26px;
}

main.home{
  margin-left: 230px;
  margin-right: 225px;
}

.reocurring{
  text-indent: 319px;
}

div.quote_container{
  padding-left: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 270px 730px;
}

div.randomquote{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 32px;
}

ul{
  font-family: 'Libre Franklin', sans-serif;
  list-style-image: url("images/kramer_head.png");
}

li{
  padding-bottom: 20px;
  padding-left: 10px;
}

/* Container needed to position the button. Adjust the width as needed */
.play {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.play img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.play .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  width: 100px;
  height: 140px;
}

br {
  line-height: 200%;
}

@media (min-width: 769px) {
  .wp{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}