
.nav{
  margin-left: 220px;
  margin-right: 220px;
}

 .nav {
    font-size: 120%;
    font-family: 'Muli';
    display: flex;
    justify-content: center;
    padding-bottom: : 25px;
}

.nav a{
  padding: 8px;
  color: red;
  background-color: #F1DA42;
}

body{
  background: #DBEEF1;
}

a:hover{
  background: green;
  color: white;
}

.wp{
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav .current{
  background: blue;
  color: white;
}


ul.quotes{
  list-style-image: url('../images/kramer_head.png');
  color: black;
}

li{
  margin: 15px 0;
}

img.header_image{
  width: 40vw;
  border: 4px solid grey;
  border-radius: 3px;

}

img.logo_image{
  width: 25vw;
  display: block;
  margin: 0 auto;
  padding: 25px;
}


div.index-container{
  display: grid;
  grid-template-columns: 280px 535px 280px;
}

div.theme-container{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}

img.character{
  width: 15vw;
  border: 5px solid #ddd;
  border-radius: 4px;
}

img.button{
  width: 20vw;
}

a.skip{
  position: relative;
  left: 20000px;
}

a.skip:focus{
	left: 10px;
	border: 2px solid black;
}

h1{
  text-indent: 10px;
  font: 32px trajan-pro-1,trajan-pro-2;
}

footer{
  font: 10px trajan-pro-1,trajan-pro-2;
  margin-left: 220px;
}

div.container{
  display: grid;
  grid-template-columns: 215px 600px;
  margin: 5px;
}

div.container{
  font: 16px trajan-pro-1,trajan-pro-2;
}

main.home{
  margin-left: 220px;
  margin-right: 220px;
}
